* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}
body * {
  font-family: "inter" sans-serif;
  color: #fff;
}

/*contaner*/
#contaner {
  border: 1px solid red;
  width: 360px;
  height: 712px;
  margin: 56px auto 0px;
}
/*profile*/
#profile {
  text-align: center;
  padding: 24px;
  margin-top: 8px;
}

#profile img {
  width: 112px;
}
#profile p {
  font-weight: 500px;
  line-height: 24px;
  margin-top: 8px;
}
