body {
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

/*contaner*/
#contaner {
  border: 1px solid red;
  width: 360px;
  height: 712px;
  margin: auto;
}
/*profile*/
#profile {
  text-align: center;
  padding: 24px;
  margin-top: 8px;
}

#profile img {
  width: 112px;
}
